//Folders Import

@import 'components/_index.scss',
        'utilities/_index.scss',
        'base/_index.scss';
        

//Image background

html {
	background: transparent url(../mockups/00-home.jpg) no-repeat top left;
	background-size: 100%;
	
	body {
		opacity: 0.7;
	}
}
