

.play {
    width: 129px;
    height: 41px;
    background-image: url(../images/Home/Home-with-hovers/banner/button-play-hover.png);
    background-repeat: no-repeat;
    margin-left: 65px;
    padding: 0;
}

.watch {
    width: 129px;
    height: 41px;
    margin-left: 25px;
    margin-top: 22px;
    padding: 0;
    background-image: url(../images/Home/Home-with-hovers/banner/button-my-list-hover.png);
    background-repeat: no-repeat;
}




